@{
    ViewBag.Title = "请假申请";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<script src="~/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>
    function AddRest() {
        var eid = $("#txtEid").val();
        var ename = $("#txtEname").val();
        var starttime = $("#txtStartTime").val();
        var endtime = $("#txtEndTime").val();
        var rtype = $(".rodType:checked").val();
        var remark = $("#txtRemark").val();
        $.ajax({
            url: 'http://localhost:59776/api/Rest',
            type: 'post',
            data: {
                'restInfoStr': JSON.stringify({ Eid: eid, EName: ename, RStartTime: starttime, REndTime: endtime, RType: rtype, RemarkInfo: remark, Restatic: '待审批' })
            },
            dataType: 'json',
            success: function (data) {
                if (data > 0) {
                    alert('提交成功');
                    location.href = '/Leave/Index/';
                }
                else {
                    alert('提交失败');
                }
            }
        })
    }
</script>
<div style="width:500px;height:580px;border:1px solid;text-align:center;margin-left:350px">
    <h2 style="text-align:center">提交请假申请</h2>
    <hr style="height:3px" />
    <table class="table table-hover table-bordered" style="width:500px;height:500px">
        <tr>
            <td>员工编号</td>
            <td><input id="txtEid" type="text" /></td>
        </tr>
        <tr>
            <td>员工姓名</td>
            <td><input id="txtEname" type="text" /></td>
        </tr>
        <tr>
            <td>请假开始时间</td>
            <td><input id="txtStartTime" onclick="WdatePicker()" class="Wdate" type="text" /></td>
        </tr>
        <tr>
            <td>请假结束时间</td>
            <td><input id="txtEndTime" type="text" onclick="WdatePicker()" class="Wdate" /></td>
        </tr>
        <tr>
            <td>请假类型</td>
            <td>
                <input id="rodType" name="Type" type="radio" />事假
                <input id="rodType" name="Type" type="radio" />病假
                <input id="rodType" name="Type" type="radio" />婚假
                <input id="rodType" name="Type" type="radio" />产假
                <input id="rodType" name="Type" type="radio" />丧假
            </td>
        </tr>
        <tr>
            <td>请假理由</td>
            <td><textarea id="txtRemark" rows="3" cols="20"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input id="btnAdd" class="btn-info" style="width:80px;height:30px" type="button" value="提交" onclick="AddRest()" /></td>
        </tr>
    </table>

</div>
