@model IEnumerable<ERP_MVC.Models.RestInfo>
<script src="~/My97DatePicker/WdatePicker.js"></script>
<script>
    function AddRest() {
        var eid = $("#txtEid").val();
        var ename = $("#txtEname").val();
        var starttime = $("#txtStartTime").val();
        var endtime = $("#txtEndTime").val();
        var rtype = $(".rodType:checked").val();
        var remark = $("#txtRemark").val();
        $.ajax({
            url: '',
            type: 'post',
            data: { Eid: eid, REName: ename, RStartTime: starttime, REndTime: endtime, RType: rtype, RemarkInfo: remark };
            dataType: 'text',
            success: function (data) {
                if (data > 0) {
                    alert('提交成功');
                }
                else {
                    alert('提交失败');
                }
            }
        })
    }
</script>
<div>
    <h1>请假申请</h1>
</div>
<table>
    <tr>
        <td>员工编号</td>
        <td><input id="txtEid" type="text" /></td>
    </tr>
    <tr>
        <td>员工姓名</td>
        <td><input id="txtEname" type="text" /></td>
    </tr>
    <tr>
        <td>请假开始时间</td>
        <td><input id="txtStartTime" onclick="WdatePicker()" class="Wdate" type="text" /></td>
    </tr>
    <tr>
        <td>请假结束时间</td>
        <td><input id="txtEndTime" type="text" onclick="WdatePicker()" class="Wdate" /></td>
    </tr>
    <tr>
        <td>请假类型</td>
        <td>
            <input id="rodType" name="Type" type="radio" />事假
            <input id="rodType" name="Type" type="radio" />病假
            <input id="rodType" name="Type" type="radio" />婚假
            <input id="rodType" name="Type" type="radio" />产假
            <input id="rodType" name="Type" type="radio" />丧假
        </td>
    </tr>
    <tr>
        <td>请假理由</td>
        <td><input id="txtRemark" type="text" /></td>
    </tr>
    <tr>
        <td><input id="btnAdd" type="button" value="提交" onclick="AddRest()" /></td>
    </tr>
</table>
