@{
    ViewBag.Title = "请假申请";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    LoginResult result = Session["loginResult"] as LoginResult;
}
@using ERP_MVC.Models

<script src="~/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/layer-v3.0.3/layer/layer.js"></script>
<script>
    $(function () {
        $("#btnAdd").click(function () {
            var starttime = $("#txtStartTime").val();
            var endtime = $("#txtEndTime").val();
            var rtype = $(".rodType:checked").val();
            var remark = $("#txtRemark").val();
            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var time = year + "-" + month + "-" + day;
            if ($("#txtStartTime").val() < time | $("#txtEndTime").val() < $("#txtStartTime").val()) {
                layer.msg('时间选择不正确', { icon: 0 });
                return;
            }
            $.ajax({
                url: 'http://localhost:59776/api/Rest/',
                type: 'Post',
                data: {
                    '': JSON.stringify({ Eid: @result.EID, RBeginTime: starttime, REndTime: endtime, RType: rtype, RemarkInfo: remark, Restatic: '待审批' })
                },
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        layer.msg('提交成功', { icon: 1 });
                    }
                    else {
                        layer.msg('提交失败', { icon: 0 });
                    }
                }
            });
        });
    });
</script>
<div class="col-md-6" style="margin-left:300px">
    <div class="tile">
        <h3 class="tile-title" style="text-align:center">提交请假申请</h3>
        <div class="tile-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">请假开始时间</label>
                    <div class="col-md-8">
                        <input id="txtStartTime" class="form-control Wdate" onclick="WdatePicker()" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">请假结束时间</label>
                    <div class="col-md-8">
                        <input id="txtEndTime" class="form-control Wdate" onclick="WdatePicker()" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">请假类型</label>
                    <div class="col-md-9">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="rodType form-check-input" name="Type" value="事假" type="radio" checked />事假
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label">
                                <input class="rodType form-check-input" name="Type" value="病假" type="radio" />病假
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label">
                                <input class="rodType form-check-input" name="Type" value="婚假" type="radio" />婚假
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label">
                                <input class="rodType form-check-input" name="Type" value="产假" type="radio" />产假
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label">
                                <input class="rodType form-check-input" name="Type" value="丧假" type="radio" />丧假
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">请假理由</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="txtRemark" rows="4"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="tile-footer">
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <button style="float:right;margin-right:50px" class="btn btn-primary" id="btnAdd" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>提交</button>
                </div>
            </div>
        </div>
    </div>
</div>