@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>请假信息表</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<div>
    <span runat="server">员工编号</span><input id="TxtENo" type="text" />
    <select id="SelRestType">
        <option value="选择请假类型">选择请假类型</option>
        <option value="事假">事假</option>
        <option value="病假">病假</option>
        <option value="婚假">婚假</option>
        <option value="产假">产假</option>
        <option value="丧假">丧假</option>
    </select>
    <input id="btnSelect" type="button" class="btn-info" onclick="SelectRest()" value="查询" />
</div>
<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <table class="table table-bordered table-hover" id="sampleTable">
                <thead>
                    <tr>
                        <th>员工编号</th>
                        <th>员工姓名</th>
                        <th>员工职位</th>
                        <th>请假类型</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>请假理由</th>
                        <th>审核时间</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tb">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        function SelectRest() {
            eno = $("#TxtENo").val();
            rtype = $("#SelRestType").val();
            if (eid == "" || rtype.Select.text == "选择请假类型") {
                loadData();
            }
            else {
                $.ajax({
                    url: "http://localhost:59776/api/Rest",
                    type: "get",
                    data: { ENo: eno, Rtype: rtype },
                    dataType: "json",
                    success: function (data) {
                        var str = "";
                        for (var i in data) {
                            str += "<tr><td>" + data[i].Eid + "</td><td>" + data[i].Ename + "</td><td>" + data[i].PoName + "</td><td>" + data[i].Rtype + "</td><td>" + data[i].RBeginTime + "</td><td>" + data[i].REndTime + "</td><td>" + data[i].RemarkInfo + "</td><td>" + data[i].ReAuditTime + "</td><td>" + "<span id='s" + data[i].RID + "'>" + data[i].Restatic + "</span>" + "</td><td><input id='txtAgree' type='button' class='btn - info' value='同意' onclick='Agree()' /><input id='txtReject' type='button' value='驳回' onclick='Reject(" + data[i].RID + ")' /></td></tr>";
                        }
                        $("#tb").html(str);
                    }
                });
            }
        }
        function loadData() {
            
            $(function () {
                $.ajax({
                    url: 'http://localhost:59776/api/Rest',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        var str = "";
                        for (var i in data) {
                            str += "<tr><td>" + data[i].ENo + "</td><td>" + data[i].Ename + "</td><td>" + data[i].PoName + "</td><td>" + data[i].Rtype + "</td><td>" + data[i].RBeginTime + "</td><td>" + data[i].REndTime + "</td><td>" + data[i].RemarkInfo + "</td><td>" + data[i].ReAuditTime + "</td><td><span id='s" + data[i].RID + "'>" + data[i].Restatic + "</span></td><td><input id='btnAgree' type='button' onclick='Agree(" + data[i].RID + ")' value='同意' /><input id='btnReject' type='button' onclick='Reject(" + data[i].RID + ")' value='驳回' /></td></tr>";
                        }
                        $("#tb").html(str);
                    }
                });
            });
        }
        $(function () {
            loadData();
        })
        function Agree(RID) {
            $.ajax({
                url: 'http://localhost:59776/api/Rest',
                type: 'put',
                data: { RID: RID, Restatic: 1 },
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("审批成功");
                    }
                }
            })
            document.getElementById("s" + RID).innerText = "同意";
            //loadData();
        }
        function Reject(RID) {
            $.ajax({
                url: 'http://localhost:59776/api/Rest',
                type: 'put',
                data: { RID: RID, Restatic: 0 },
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("审批成功");
                    }
                }
            })
            document.getElementById("s" + RID).innerText = "驳回";
            //loadData();
        }
    
</script>
