@model List<ERP_MVC.Models.WagesInfo>
@{
    ViewBag.Title = "HistoryWage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>查看历史工资</h2>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<div>
    <span>员工号</span><input id="txtNum" type="text" />
    <input id="btnSelect" onclick="SelectHistory()" type="button" value="查询" />
</div>
<table>
    <thead>
        <tr>
            <th>员工号</th>
            <th>员工姓名</th>
            <th>职位</th>
            <th>薪资</th>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>
<script>
    function loadData() {
        $.ajax({
            url: '',
            type: 'get',
            data: {},
            dataType: 'json',
            success: function (data) {
                var str = "";
                for (var i in data) {
                    str += "<tr><td>" + data[i].Eno + "</td><td>" + data[i].Ename + "</td><td>" + data[i].Poname + "</td><td>" + data[i].WShouldMoney + "</td></tr>";
                }
                $("#tb").html(str);
            }
        });
    }
    function SelectHistory() {
        var eno = $("#txtNum").val();
        if (eno == "") {
            loadData();
        }
        else {
            $.ajax({
                url: '',
                type: 'get',
                data: { Eno: eno },
                dataType: 'json',
                success: function (data) {
                    var str = "";
                    for (var i in data) {
                        str += "<tr><td>" + data[i].Eno + "</td><td>" + data[i].Ename + "</td><td>" + data[i].Poname + "</td><td>" + data[i].WShouldMoney + "</td></tr>";
                    }
                    $("#tb").html(str);
                }
            })
        }
    }
</script>

