@model List<ERP_MVC.Models.WagesInfo>
@{
    ViewBag.Title = "SettleWage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>员工工资结算</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div>
    <input id="txtName" type="text"  placeholder="请输入员工姓名"  class="form-control" />
    <input id="txtEno" type="text" placeholder="请输入员工编号" class="form-control"/>
    <input id="btnSelect" onclick="SelectMoney()" type="button" value="查询"  class="btn btn-info"/>
</div>
<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <table class="table table-bordered table-hover" id="sampleTable" style="text-align:center">
                <thead>
                    <tr>
                        <th>员工号</th>
                        <th>应发工资</th>
                        <th>应扣工资</th>
                        <th>实发工资</th>
                    </tr>
                </thead>
                <tbody id="tb" style="text-align:center"></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function loadData() {
        $(function () {
            $.ajax({
                url: '',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    var str = "";
                    for (var i in data) {
                        str += "<tr><td>" + data[i].Eid + "</td><td>" + data[i].WSsalary + "</td><td>" + data[i].WDudectionMoney + "</td><td>" + data[i].WSsalary - data[i].WDudectionMoney + "</td></tr>";
                    }
                    $("#tb").html(str);
                }
            });
        });
    }
    function SelectMoney() {
        ename = $("#Ename").val();
        eid = $("#Eid").val();
        else {
            $.ajax({
                url: '',
                type: 'get',
                data: { Eid: eid, Ename: ename },
                dataType: 'json',
                success: function (data) {
                    var str = "";
                    for (var i in data) {
                        str += "<tr><td>" + data[i].Eid + "</td><td>" + data[i].WSsalary + "</td><td>" + data[i].WDudectionMoney + "</td><td>" + data[i].WShouldMoney + "</td></tr>";
                    }
                    $("#tb").html(str);
                }
            })
        }
    }
</script>

