@model List<ERP_MVC.Models.WagesInfo>
@{
    ViewBag.Title = "SettleWage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>员工工资结算</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div>
    <span>姓名</span><input id="txtName" type="text" /><span>员工号</span><input id="txtEno" type="text" /><input id="btnSelect" onclick="SelectMoney()" type="button" value="查询" />
</div>
<table>
    <thead>
        <tr>
            <th>员工号</th>
            <th>应发工资</th>
            <th>应扣工资</th>
            <th>实发工资</th>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>
<script>
    function loadData() {
        $(function () {
            $.ajax({
                url: '',
                type: 'get',
                data: {},
                dataType: 'json',
                success: function (data) {
                    var str = "";
                    for (var i in data) {
                        str += "<tr><td>" + data[i].Eid + "</td><td>" + data[i].WSsalary + "</td><td>" + data[i].WDudectionMoney + "</td><td>" + data[i].WSsalary - data[i].WDudectionMoney + "</td></tr>";
                    }
                    $("#tb").html(str);
                }
            });
        });
    }
    function SelectMoney() {
        ename = $("#Ename").val();
        eid = $("#Eid").val();
        if (ename == "" || eid == "") {
            loadData();
        }
        else {
            $.ajax({
                url: '',
                type: 'get',
                data: { Eid: eid, Ename=ename },
                dataType: 'json',
                success: function (data) {
                    var str = "";
                    for (var i in data) {
                        str += "<tr><td>" + data[i].Eid + "</td><td>" + data[i].WSsalary + "</td><td>" + data[i].WDudectionMoney + "</td><td>" + data[i].WShouldMoney + "</td></tr>";
                    }
                    $("#tb").html(str);
                }
            })
        }
    }
</script>

