
@{
    ViewBag.Title = "Maininterface";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<center style="margin-top:180px">
    <h1 style="font-family:Georgia, serif">欢迎来到意达考勤管理系统 </h1>
</center>
<center>
    <h2 style="font-family:Georgia, serif">Welcome to Ita attendance Management system </h2>
</center>
