
@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(function () {
        var Id = $("#hidId").val();
        //职位下拉
        $.ajax({
            url: 'http://localhost:59776/api/position',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#selzw").append("<option value='" + data[i].PoID + "'>" + data[i].PoName + "</option>");
                }
            }
        });
        //反填
        $.ajax({
            url: 'http://localhost:59776/api/EmployeeInfo/' + Id,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    $("#txtbh").val(data.ENo);
                    $("#txtxm").val(data.EName);
                    $(".rad[value='" + (data.Esex == true ? '男' : '女') + "']").prop("checked", true);
                    $("#txtsjh").val(data.Ephone);
                    $("#txtyx").val(data.Eemail);
                    $("#txtsfz").val(data.EcardID);
                    $("#txttx").val(data.Eheart);
                    $("#selzw").val(data.Pid)
                }
            }
        });
    });
    function save() {
        //接收
        var Id = $("#hidId").val();
        var bh = $("#txtbh").val();
        var xm = $("#txtxm").val();
        var xb = $(".rad:checked").val();
        var sjh = $("#txtsjh").val();
        var yx = $("#txtyx").val();
        var sfz = $("#txtsfz").val();
        var tx = $("#txttx").val();
        var zw = $("#selzw").val();
        //传值
        $.ajax({
            url: 'http://localhost:59776/api/EmployeeInfo/' + Id,
            type: 'put',
            data: { EID:Id, ENo: bh, EName: xm, Esex: xb, Ephone: sjh, Eemail: yx, EcardID: sfz, Eheart: tx, Pid: zw},
            dataType: 'text',
            success: function (data) {
                if (data > 0) {
                    alert("修改成功");
                    location.href = '/PersonnelInfomation/Index';
                }
                else {
                    alert("修改失败");
                }
            }
        });
    }
</script>
<html>
<head>
    <title>Edit</title>
</head>
<body>
    <input id="hidId" type="hidden" name="hidId" value="@ViewBag.Id" />
    <div class="col-md-6" style="margin-left:300px">
        <div class="tile">
            <h3 class="tile-title" style="text-align:center">修改员工信息</h3>
            <div class="tile-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3">员工编号</label>
                        <div class="col-md-8">
                            <input id="txtbh" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">性别</label>
                        <div class="col-md-8">
                            <input id="rad1" class="rad" type="radio" name="rad" value="true" checked="checked" />男
                            <input id="rad2" class="rad" type="radio" name="rad" value="false" />女
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">手机号码</label>
                        <div class="col-md-8">
                            <input id="txtsjh" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">身份证</label>
                        <div class="col-md-8">
                            <input id="txtsfz" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">职位</label>
                        <div class="col-md-8">
                            <select id="selzw"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <input id="Button2" type="button" value="保存" class="btn btn-primary" onclick="save()" />
                        <input id="Button1" type="button" value="返回" class="btn btn-dark" onclick="location.href='/PersonnelInfomation/Index'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


