
@{
    ViewBag.Title = "FomationInfoface";
    //Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<TITLE>添加员工信息</TITLE>
<div>
    <from class="form-inline">
        <div class="form-group">
            <input id="Button1" type="button" value="添加员工信息" class="btn btn-success" onclick="location.href='/PersonnelInfomation/Add'" />
            <span style="margin-left:497px;">在职状态</span>
            <select id="selzw" class="form-control">
                <option value="true">在职</option>
                <option value="false">离职</option>
            </select>
            <input id="txtbh" type="text" class="form-control" placeholder="请输入员工编号" autocomplete="off" />
            <input id="txtxm" type="text" class="form-control" placeholder="请输入员工姓名" autocomplete="off" />
            <input id="Button1" type="button" value="查询" onclick="sel()" class="btn btn-info" />
        </div>
    </from>
    <table class="table table-bordered" style="text-align:center;background-color:#ffffff">
        <thead>
            <tr>
                <td>ID</td>
                <td>员工编号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>手机号</td>
                <td>邮箱</td>
                <td>身份证</td>
                @*<td>头像</td>*@
                <td>职位</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="tb"></tbody>
    </table>
    <table class="table table-bordered" style="border:none">
        <tr>
            <td></td>
            <td align="right">
                <input id="Button1" type="button" value="首页" class="btn btn-info" />
                <input id="Button1" type="button" value="上一页" class="btn btn-info" />
                <input id="Button1" type="button" value="①" class="btn btn-info" />
                <input id="Button1" type="button" value="②" class="btn btn-info" />
                <input id="Button1" type="button" value="③" class="btn btn-info" />
                <input id="Button1" type="button" value="下一页" class="btn btn-info" />
                <input id="Button1" type="button" value="尾页" class="btn btn-info" />
            </td>
        </tr>
    </table>
    @*<!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <title>Bootstrap 实例 - 默认的分页</title>
            <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>

        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

        </body>
        </html>*@

    </table>
</div>
<script>
    //显示
    $(function () {
        $.ajax({
            url: 'http://localhost:59776/api/EmployeeInfo',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#tb").append("<tr><td>" + data[i].EID + "</td><td>" + data[i].ENo + "</td><td>" + data[i].EName + "</td><td>" + (data[i].Esex == true ? "男" : "女") + "</td><td>" + data[i].Ephone + "</td><td>" + data[i].Eemail + "</td><td>" + data[i].EcardID + "</td><td>" + data[i].PoName + "</td><td><input id='btnEdit' type='button' class='btn btn - primary' value='编辑' onclick='edit(" + data[i].EID + ")' /></tr>");
                }
            }
        });
    });
    //<td>" + data[i].Eheart + "</td>
    //删除
    function del(id) {
        if (confirm("确认删除么？")) {
            $.ajax({
                url: 'http://localhost:59776/api/EmployeeInfo/' + id,
                type: 'delete',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("删除成功");
                        location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            });
        }
    }
    //查询
    function sel() {
        var zt = $("#selzw").val();
        var bh = $("#txtbh").val();
        var xm = $("#txtxm").val();
        var str = "";
        if (bh == "" && xm == "") {
            str += "?Pstatic=" + zt;
        } else if (bh == "" && xm != "") {
            str += "?Pstatic=" + zt + "&ename=" + xm;
        } else if (bh != "" && xm == "") {
            str += "?Pstatic=" + zt + "&eno=" + bh;
        } else {
            str += "?Pstatic=" + zt + "&eno=" + bh + "&ename=" + xm;
        }
        $.ajax({
            url: 'http://localhost:59776/api/EmployeeInfo' + str,
            type: 'get',
            success: function (data) {
                $("#tb").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#tb").append("<tr><td>" + data[i].EID + "</td><td>" + data[i].ENo + "</td><td>" + data[i].EName + "</td><td>" + (data[i].Esex == true ? "男" : "女") + "</td><td>" + data[i].Ephone + "</td><td>" + data[i].Eemail + "</td><td>" + data[i].EcardID + "</td><td>" + data[i].PoName + "</td><td><input id='btnEdit' type='button'  class='btn btn - info float-left'  value='编辑' onclick='edit(" + data[i].EID + ")' /></tr>");
                }
            }
        })
    }
    //<td>" + data[i].Eheart + "</td>
    function edit(id) {
        location.href = "/PersonnelInfomation/Edit/" + id;
    }
</script>

