
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h2 style="text-align:center">员工信息表</h2>
<div>
    <table style="background-color:#ffffff">
        <table class="table table-bordered">

            <tr>
                <td><input id="Button1" type="button" value="添加员工信息" class="btn btn-info" onclick="location.href='/PersonnelInfomation/Add'" /></td>
                <td align="right">
                    <span>在职状态</span>
                    <select id="selzw">
                        <option value="true">在职</option>
                        <option value="false">离职</option>
                    </select>
                    <span>员工编号</span>
                    <input id="txtbh" type="text" />
                    <span>员工姓名</span>
                    <input id="txtxm" type="text" />
                    <input id="Button1" type="button" value="查询" onclick="sel()" class="btn btn-info" />

                </td>
            </tr>
        </table>
        <table class="table table-bordered" style="text-align:center;background-color:#ffffff">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>员工编号</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>手机号</td>
                    <td>邮箱</td>
                    <td>身份证</td>
                    <td>头像</td>
                    <td>职位</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
        <table class="table table-bordered" style="border:none">
            <tr>
                <td></td>
                <td align="right">
                    <input id="Button1" type="button" value="首页" class="btn btn-info" />
                    <input id="Button1" type="button" value="上一页" class="btn btn-info" />
                    <input id="Button1" type="button" value="①" class="btn btn-info" />
                    <input id="Button1" type="button" value="②" class="btn btn-info" />
                    <input id="Button1" type="button" value="③" class="btn btn-info" />
                    <input id="Button1" type="button" value="下一页" class="btn btn-info" />
                    <input id="Button1" type="button" value="尾页" class="btn btn-info" />
                </td>
            </tr>
        </table>
    </table>
</div>
<script>
    ////下拉
    //$(function () {
    //    $.ajax({
    //        url: 'http://localhost:59776/api/',
    //        type: 'get',
    //        dataType: 'json',
    //        success: function (data) {
    //            for (var i = 0; i < data.length; i++) {
    //                $("#selzw").append("<option value='" + data[i].PID + "'>" + data[i].Pstatic + "</option>");
    //            }
    //        }
    //    });
    //});
    //显示
    $(function () {
        $.ajax({
            url: 'http://localhost:59776/api/EmployeeInfo?Pstatic=true',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#tb").append("<tr><td>" + data[i].EID + "</td><td>" + data[i].ENo + "</td><td>" + data[i].EName + "</td><td>" + (data[i].Esex == true ? "男" : "女") + "</td><td>" + data[i].Ephone + "</td><td>" + data[i].Eemail + "</td><td>" + data[i].EcardID + "</td><td>" + data[i].Eheart + "</td><td>" + data[i].Pid + "</td><td><input id='btnEdit' type='button' style value='修改' onclick='edit(" + data[i].EID + ")' /></tr>");
                }
            }
        });
    });
    //删除
    function del(id) {
        if (confirm("确认删除么？")) {
            $.ajax({
                url: 'http://localhost:59776/api/EmployeeInfo/' + id,
                type: 'delete',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("删除成功");
                        location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            });
        }
    }
    //查询
    function sel() {
        var zt = $("#selzw").val();
        var bh = $("#txtbh").val();
        var xm = $("#txtxm").val();
        var str = "";
        if (bh==""&&xm=="") {
            str += "?Pstatic="+zt;
        } else if (bh == "" && xm != "") {
            str += "?Pstatic=" + zt + "&ename=" + xm;
        } else if (bh != "" && xm == "") {
            str += "?Pstatic=" + zt + "&eno=" + bh;
        } else {
            str += "?Pstatic=" + zt + "&eno=" + bh + "&ename=" + xm;
        }
        $.ajax({
            url: 'http://localhost:59776/api/EmployeeInfo'+str,
            type: 'get',
            success: function (data) {
                $("#tb").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#tb").append("<tr><td>" + data[i].EID + "</td><td>" + data[i].ENo + "</td><td>" + data[i].EName + "</td><td>" + (data[i].Esex == true ? "男" : "女") + "</td><td>" + data[i].Ephone + "</td><td>" + data[i].Eemail + "</td><td>" + data[i].EcardID + "</td><td>" + data[i].Eheart + "</td><td>" + data[i].Pid + "</td><td><input id='btnEdit' type='button'  class='btn btn - info float-left'  value='修改' onclick='edit(" + data[i].EID + ")' /></tr>");
                }
            }
        })
    }
    function edit(id) {
        location.href = "/PersonnelInfomation/Edit/" + id;
    }
</script>
